{% extends "courses/base.html" %}
{% load custom_templatetags %}
{% load static %}
{% block title %}
  Signup
{% endblock title %}

{% block content %}

<link rel="stylesheet" href="{% static 'courses/css/signup.css' %}">

<div class="container-fluid">
        <form action="{% url 'signup' %}" style="border:1px solid #ccc"   method="post">
            {% csrf_token %}
            <div class="container">
              <h1>Sign Up</h1>
              <p>Please fill in this form to create an account.</p>
              <hr>
              {{ form.error }}
              <div id="username">{{ form.username }}</div>
              <label for="email"><b>Email</b></label>
              <div id="email" class="input_field" type="text" placeholder="Enter Email" name="email" required>{{form.email}}</div>
          
              <label for="psw"><b>Password</b></label>
              <div class="input_field" type="password" placeholder="Repeat Password" name="psw-repeat" required>{{form.password1}}</div>
          
              <label for="psw-repeat"><b>Repeat Password</b></label>
              <div class="input_field" type="password" placeholder="Repeat Password" name="psw-repeat" required>{{form.password2}}</div>
              
              <div class="clearfix">
                <button type="button" class="cancelbtn">Cancel</button>
                <button type="submit" class="signupbtn">Sign Up</button>
              </div>
            </div>
          </form>
    </div>
</div>
{% endblock content %}